body {
  text-align: center;
}
.btn {
  padding: 1rem 1.5rem;
  background-color: crimson;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 0.5rem;
  border: 1px solid crimson;
  font-size: 1rem;
  transition: all 0.3 ease-in-out;
}
.btn:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
h1,
h2,
h3 {
  letter-spacing: 1px;
  text-align: center;
}

img {
  width: 60vw;
  height: 400px;
  object-fit: cover;
}
